@use '@coreStyles/variables.module' as variables;

.container {
  height: 100%;
  width: 100%;

  > div:first-child {
    height: variables.$tabs-height;
  }
}

.tab {
  border: 0 !important;
  border-radius: 0 !important;
  height: calc(100% - #{variables.$tabs-height});
  margin: 0 !important;
  padding: 0 !important;
}

.container-fullscreen {
  height: 100%;

  > div:first-child {
    height: 0;
  }
}

.fullscreen-layout {
  height: 100%;
}

.tab-fullscreen {
  height: 100%;
}

.fullscreen-layout .tab-wrapper {
  height: 100%;
}

.tab-wrapper {
  height: calc(100% - #{variables.$filters-height});
  position: relative;
  width: 100%;
}

.mode-toggle {
  position: absolute;
  right: 16px;
  top: 8px;
  z-index: 1;
}
