@use '@coreStyles/variables.module' as variables;

$tabs-height: 43px;

.container {
  height: 100%;
  width: 100%;
}

.tab {
  border: 0 !important;
  border-radius: 0 !important;
  height: calc(100% - $tabs-height);
  margin: 0 !important;
  padding: 0 !important;
}
