@use '@coreStyles/variables.module' as variables;

.container {
  height: calc(100% - #{variables.$filters-height});
  width: 100%;

  > div:first-child {
    height: variables.$tabs-height;
  }
}

.tab {
  border: 0 !important;
  border-radius: 0 !important;
  height: calc(100% - #{variables.$tabs-height});
  margin: 0 !important;
  padding: 0 !important;
}
