@use '@coreStyles/variables.module' as variables;

.container {
  margin: 6px 15px 0;
}

.form {
  height: variables.$filters-height;
}

.field {
  margin-bottom: 0 !important;
  min-width: 105px;

  > label {
    font-size: 12px !important;
  }

  > div {
    height: 29px;

    > div {
      height: 29px;

      > input {
        height: 29px;
        padding: 7px 14px !important;
      }
    }
  }

  &-dropdown {
    margin-bottom: 0 !important;
    min-width: 14em;

    > label {
      font-size: 12px !important;
    }

    > div {
      height: 29px !important;
      max-height: 29px !important;
      min-height: 29px !important;
      padding: 7px 30px 7px 14px !important;

      > i {
        padding: 7px !important;
      }
    }
  }
}

.button {
  height: 29px;
  padding: 7px 14px !important;
}
