@use '@coreStyles/variables.module' as variables;

.container {
  margin-left: 15px;
  margin-top: 10px;
}

.form {
  height: variables.$filters-height;
}

.field {
  margin-bottom: 0 !important;
}

.button {
  height: 38px;
}
