/* stylelint-disable */
@use '@coreStyles/_mq' as *;
/* stylelint-enable */
@use '@coreStyles/variables.module' as variables;
@use '@coreStyles/parts.module' as *;

.header {
  align-items: center;
  background-color: variables.$background-color !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: variables.$primary-box-shadow !important;
  flex: 0 0 auto;
  height: variables.$header-height;
  margin: 0 !important;
  min-height: variables.$header-height !important;
  width: 100% !important;

  @include mq($until: mobile) {
    padding: 0 20px;
  }
  @include mq($from: mobile, $until: tablet) {
    padding: 0 20px;
  }
  @include mq($from: tablet) {
    padding: 0 60px;
  }
}

.items-container {
  column-gap: 16px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  row-gap: 12px;
  text-transform: lowercase;
}

.button {
  height: 100%;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

  &-container {
    height: 100%;
    padding: 5px !important;

    &::before {
      width: 0 !important;
    }
  }
}
