@use '@coreStyles/variables.module' as variables;

.container {
  position: relative;
  width: 100%;
}

.field {
  margin: 0 !important;

  input {
    height: 38px;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.button {
  height: 38px;
  width: 40%;
}

.sub-title {
  color: variables.$secondary-text-color;
}

.error {
  color: variables.$negative-text-color;
}
