.container {
  height: 100%;
  padding: 15px 0 0;
}

.table {
  height: calc(100% - 48px);
}

.region-filter {
  max-width: 500px;
}

.reorder-column {
  width: 40px;
}

.filter-header {
  padding: 0;
}
