$title-height: 14px;
$chart-height: 300px;

.block {
  height: calc(#{$title-height} + #{$chart-height});
  width: calc(50% - 6px);

  &-wide {
    width: 100%;
  }
}

.chart {
  height: $chart-height;
  position: relative;
}

.title {
  font-size: 14px;
  font-weight: 700;
  height: $title-height;
  margin-left: 30px;
}
