.container {
  padding-left: 30px;
  padding-right: 0;

  g {
    transform: none !important;
    transition: none !important;
  }

  path {
    transform: none !important;
    transition: none !important;
  }
}
