.block {
  border: #0f0f10 solid 2px;
  height: 80px;
  min-width: 250px;
  padding: 10px;
  width: calc(25% - 10px);
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.value {
  font-size: 38px;
  font-weight: 700;
}
