.button-container {
  padding: 10px;
}

.button {
  width: 100%;
}

.divider {
  margin: 0 !important;
}

.checkbox-container {
  cursor: pointer;
}

.dropdown-menu {
  min-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
